openapi: 3.2.0
info:
  title: MapTiler Images API
  version: '1.0'
  description: MapTiler API allows you to programmatically access all the data, maps, services, and resources available in your MapTiler account.
  termsOfService: https://www.maptiler.com/terms/
  contact:
    name: Support
    email: support@maptiler.com
    url: https://docs.maptiler.com/support/requests/
    premium: https://www.maptiler.com/support/
servers:
- description: MapTiler API
  url: https://api.maptiler.com/
security:
- key: []
tags:
- name: Images
paths:
  /images/{imageId}/image.json:
    parameters:
    - $ref: '#/components/parameters/imageId'
    get:
      summary: ImageJSON
      description: JSON describing the metadata of the image. Can be used with MapTiler SDK to display the image.
      tags:
      - Images
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageJSON'
      operationId: getImagesByImageIdImageJson
      x-operation-id-source: derived
  /images/{imageId}/{z}/{x}/{y}:
    parameters:
    - $ref: '#/components/parameters/imageId'
    - $ref: '#/components/parameters/z'
    - $ref: '#/components/parameters/x'
    - $ref: '#/components/parameters/y'
    get:
      summary: XYZ tiles
      description: The individual tiles. Can be used with various libraries to display the image. It's better to use the ImageJSON with MapTiler SDK rather than using the tile URL directly.
      tags:
      - Images
      responses:
        '200':
          content:
            '*': {}
        '204':
          description: Tile not present -- presumed empty (empty response)
        '400':
          description: Out of bounds
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: getImagesByImageIdByZByXByY
      x-operation-id-source: derived
components:
  responses:
    '404':
      description: The item does not exist
    '403':
      description: Key is missing, invalid or restricted
  parameters:
    z:
      name: z
      description: Zoom level. Specifies the tile's zoom level. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    imageId:
      name: imageId
      in: path
      description: Identifier of the image.
      required: true
      schema:
        type: string
    x:
      name: x
      description: Column. Specifies the tile's column. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    y:
      name: y
      description: Row. Specifies the tile's row. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
  schemas:
    ImageJSON:
      title: ImageJSON Schema
      type: object
      properties:
        id:
          description: Optional identifier of the image.
          type: string
        description:
          description: Optional description of the image.
          type: string
        attribution:
          description: Optional attribution for the image.
          type: string
        width:
          description: Image width in pixels.
          type: integer
          required: true
        height:
          description: Image height in pixels.
          type: integer
          required: true
        minzoom:
          description: Minimum available zoom level.
          type: integer
          required: true
        maxzoom:
          description: Maximum available zoom level.
          type: integer
          required: true
        tileSize:
          description: Tile size in pixels.
          type: integer
          required: true
  securitySchemes:
    key:
      description: Your own API key from https://cloud.maptiler.com/
      type: apiKey
      name: key
      in: query
