openapi: 3.2.0
info:
  title: MapTiler Maps API
  version: '1.0'
  description: MapTiler API allows you to programmatically access all the data, maps, services, and resources available in your MapTiler account.
  termsOfService: https://www.maptiler.com/terms/
  contact:
    name: Support
    email: support@maptiler.com
    url: https://docs.maptiler.com/support/requests/
    premium: https://www.maptiler.com/support/
servers:
- description: MapTiler API
  url: https://api.maptiler.com/
security:
- key: []
tags:
- name: Maps
paths:
  /maps/{mapId}/:
    parameters:
    - $ref: '#/components/parameters/mapId'
    get:
      summary: Embeddable HTML viewer
      tags:
      - Maps
      responses:
        '200':
          description: ''
          content:
            text/html: {}
      operationId: getMapsByMapId
      x-operation-id-source: derived
  /maps/{mapId}/style.json:
    parameters:
    - $ref: '#/components/parameters/mapId'
    get:
      summary: Style JSON of the map
      description: Style JSON describing the map cartography. Can be used with various libraries to display a vector map (e.g. Mapbox GL JS, OpenLayers, ...).
      tags:
      - Maps
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleJSON'
      operationId: getMapsByMapIdStyleJson
      x-operation-id-source: derived
  /maps/{mapId}/sprite{scale}.{format}:
    parameters:
    - $ref: '#/components/parameters/mapId'
    - name: scale
      in: path
      required: false
      schema:
        type: string
        enum:
        - '@2x'
    - name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - png
        - json
    get:
      summary: Map symbols (sprites)
      description: 'Map symbols (sprites) required to display the vector map.

        Deprecated: use Sprites API.'
      deprecated: true
      tags:
      - Maps
      security: []
      responses:
        '200':
          content:
            application/json: {}
            image/png: {}
      operationId: getMapsByMapIdSprite{scale}{format}
      x-operation-id-source: derived
  /maps/{mapId}/{tileSize/}/{z}/{x}/{y}{scale}.{format}:
    parameters:
    - $ref: '#/components/parameters/mapId'
    - name: tileSize/
      in: path
      required: false
      schema:
        type: integer
        enum:
        - '256'
    - $ref: '#/components/parameters/z'
    - $ref: '#/components/parameters/x'
    - $ref: '#/components/parameters/y'
    - $ref: '#/components/parameters/rasterizationScale'
    - $ref: '#/components/parameters/rasterizationFormat'
    get:
      summary: Raster XYZ tiles
      description: Rasterized tiles (XYZ) of the map. Can be used with various libraries to display a raster map (e.g. Leaflet, OpenLayers, ...). It's usually better (if possible) to use the TileJSON rather than using the tile URL directly.
      tags:
      - Maps
      responses:
        '200':
          $ref: '#/components/responses/RasterizedImage'
        '400':
          description: Out of bounds / Invalid format
      operationId: getMapsByMapId{tileSize}ByZByXByY}{scale}{format
      x-operation-id-source: derived
  /maps/{mapId}/{tileSize/}/tiles.json:
    parameters:
    - $ref: '#/components/parameters/mapId'
    - name: tileSize/
      in: path
      required: false
      schema:
        type: integer
        enum:
        - '256'
    get:
      summary: TileJSON
      description: TileJSON describing the metadata of the map as well as link to the XYZ tiles. Can be used with various libraries to display a raster map (e.g. Leaflet, OpenLayers, ...).
      tags:
      - Maps
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TileJSON'
      operationId: getMapsByMapId{tileSize}TilesJson
      x-operation-id-source: derived
  /maps/{mapId}/tiles:
    parameters:
    - $ref: '#/components/parameters/mapId'
    get:
      summary: OGC API - Tiles
      description: Tileset landing page of the rasterized tiles. Can be used in software supporting the OGC API - Tiles v1.0 specification.
      tags:
      - Maps
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
      operationId: getMapsByMapIdTiles
      x-operation-id-source: derived
  /maps/{mapId}/tileMatrixSet:
    parameters:
    - $ref: '#/components/parameters/mapId'
    get:
      summary: OGC API TileMatrixSets
      description: Description of the tileset tile matrix sets according to the OGC Web API. This resource is linked from the OGC API - Tiles endpoint.
      tags:
      - Maps
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
      operationId: getMapsByMapIdTileMatrixSet
      x-operation-id-source: derived
  /maps/{mapId}/WMTSCapabilities.xml:
    parameters:
    - $ref: '#/components/parameters/mapId'
    get:
      summary: WMTS Capabilities
      description: WMTS Capabilities XML document describing the metadata of the map as well as link to the XYZ tiles. Can be used with various GIS software (e.g. QGIS) to display the map.
      tags:
      - Maps
      responses:
        '200':
          content:
            text/xml:
              schema:
                type: string
      operationId: getMapsByMapIdWMTSCapabilitiesXml
      x-operation-id-source: derived
components:
  parameters:
    mapId:
      name: mapId
      in: path
      description: Identifier of the map. See [MapTiler Maps](https://cloud.maptiler.com/maps/).
      example: streets-v4
      required: true
      schema:
        type: string
    rasterizationFormat:
      name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - png
        - jpg
        - webp
    z:
      name: z
      description: Zoom level. Specifies the tile's zoom level. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    x:
      name: x
      description: Column. Specifies the tile's column. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    y:
      name: y
      description: Row. Specifies the tile's row. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    rasterizationScale:
      name: scale
      in: path
      description: Use "@2x" to get "retina"/HiDPI image.
      required: false
      schema:
        type: string
        enum:
        - '@2x'
  schemas:
    StyleJSON:
      type: object
      description: Style JSON object
      externalDocs:
        url: https://docs.maptiler.com/gl-style-specification/
    TileJSON:
      type: object
      externalDocs:
        url: https://raw.githubusercontent.com/maptiler/tilejson-spec/master/2.2.0/schema.json
  responses:
    RasterizedImage:
      content:
        image/*:
          schema:
            type: string
            format: binary
  securitySchemes:
    key:
      description: Your own API key from https://cloud.maptiler.com/
      type: apiKey
      name: key
      in: query
