openapi: 3.1.0
info:
  title: MapTiler Coordinates Tiles API
  version: '1.0'
  description: "MapTiler API allows you to programmatically access all the data, maps, services, and resources available in your MapTiler account. \n\nAccess to your resources via MapTiler API is read-only, and therefore safe and well suited for public end-user applications. You can use it to add a map directly to your website, request map tiles, create an image with a location map for your business, search for addresses, and more. \n\nThe universal public API request format is:\n\n```\nhttps://api.maptiler.com/{METHOD}/{QUERY}.json?{PARAMS}&key=YOUR_MAPTILER_API_KEY_HERE\n```\n\n> [!KEY]\n> You need a **MapTiler API key** to use this service. [Get it here](https://cloud.maptiler.com/account/keys/){:target=\"_blank\" rel=\"noopener noreferrer\"} and [learn how to protect it](/guides/maps-apis/maps-platform/how-to-protect-your-map-key/).\n"
  termsOfService: https://www.maptiler.com/terms/
  contact:
    name: Support
    email: support@maptiler.com
    url: https://docs.maptiler.com/support/requests/
    premium: https://www.maptiler.com/support/
servers:
- description: MapTiler API
  url: https://api.maptiler.com/
security:
- key: []
tags:
- name: Tiles
paths:
  /tiles/{tilesId}/:
    parameters:
    - $ref: '#/components/parameters/tilesId'
    get:
      summary: Embeddable HTML viewer
      tags:
      - Tiles
      responses:
        '200':
          description: ''
          content:
            text/html: {}
  /tiles/{tilesId}/{z}/{x}/{y}:
    parameters:
    - $ref: '#/components/parameters/tilesId'
    - $ref: '#/components/parameters/z'
    - $ref: '#/components/parameters/x'
    - $ref: '#/components/parameters/y'
    get:
      summary: XYZ tiles
      description: The individual tiles. Can be used with various libraries to display the tiles (e.g. Leaflet, OpenLayers, ...). It's usually better (if possible) to use the TileJSON rather than using the tile URL directly.
      tags:
      - Tiles
      responses:
        '200':
          content:
            '*': {}
        '204':
          description: Tile not present -- presumed empty (empty response)
        '400':
          description: Out of bounds
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /tiles/{tilesId}/tiles.json:
    parameters:
    - $ref: '#/components/parameters/tilesId'
    get:
      summary: TileJSON
      description: TileJSON describing the metadata of the tiles as well as link to the XYZ tiles. Can be used with various libraries to display the tiles (e.g. Leaflet, OpenLayers, ...).
      tags:
      - Tiles
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TileJSON'
  /tiles/{tilesId}/tiles:
    parameters:
    - $ref: '#/components/parameters/tilesId'
    get:
      summary: OGC API - Tiles
      description: Tileset landing page of the tiles. Can be used in software supporting the OGC API - Tiles v1.0 specification.
      tags:
      - Tiles
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
  /tiles/{tilesId}/tileMatrixSet:
    parameters:
    - $ref: '#/components/parameters/tilesId'
    get:
      summary: OGC API TileMatrixSets
      description: Description of the tileset tile matrix sets according to the OGC Web API. This resource is linked from the OGC API - Tiles endpoint.
      tags:
      - Tiles
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
  /tiles/{tilesId}/WMTSCapabilities.xml:
    parameters:
    - $ref: '#/components/parameters/tilesId'
    get:
      summary: WMTS Capabilities
      description: WMTS Capabilities XML document describing the metadata of the tiles as well as link to the XYZ tiles. Can be used with various GIS software (e.g. QGIS) to display the tiles.
      tags:
      - Tiles
      responses:
        '200':
          content:
            text/xml:
              schema:
                type: string
components:
  parameters:
    z:
      name: z
      description: Zoom level. Specifies the tile's zoom level. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    x:
      name: x
      description: Column. Specifies the tile's column. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
    tilesId:
      name: tilesId
      in: path
      description: Identifier of the tiles. See [MapTiler Tiles](https://cloud.maptiler.com/tiles/).
      example: satellite-v4
      required: true
      schema:
        type: string
    y:
      name: y
      description: Row. Specifies the tile's row. See [Tiles à la Google Maps](https://docs.maptiler.com/google-maps-coordinates-tile-bounds-projection/)
      in: path
      required: true
      schema:
        type: integer
  responses:
    '403':
      description: Key is missing, invalid or restricted
    '404':
      description: The item does not exist
  schemas:
    TileJSON:
      type: object
      externalDocs:
        url: https://raw.githubusercontent.com/maptiler/tilejson-spec/master/2.2.0/schema.json
  securitySchemes:
    key:
      description: Your own API key from https://cloud.maptiler.com/
      type: apiKey
      name: key
      in: query
