openapi: 3.2.0
info:
  title: MapTiler Other API
  version: '1.0'
  description: MapTiler API allows you to programmatically access all the data, maps, services, and resources available in your MapTiler account.
  termsOfService: https://www.maptiler.com/terms/
  contact:
    name: Support
    email: support@maptiler.com
    url: https://docs.maptiler.com/support/requests/
    premium: https://www.maptiler.com/support/
servers:
- description: MapTiler API
  url: https://api.maptiler.com/
security:
- key: []
tags:
- name: Other
paths:
  /sprites/{spriteId}/sprite{scale}.{format}:
    parameters:
    - name: spriteId
      in: path
      description: Identifier of the sprite.
      required: true
      schema:
        type: string
    - name: scale
      in: path
      required: false
      schema:
        type: string
        enum:
        - '@2x'
    - name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - png
        - json
    get:
      summary: Sprites (icon sets)
      description: Map icons (sprites) used to display the vector map.
      tags:
      - Other
      security: []
      responses:
        '200':
          content:
            application/json: {}
            image/png: {}
      operationId: getSpritesBySpriteIdSprite{scale}{format}
      x-operation-id-source: derived
  /fonts/{fontstack}/{start}-{end}.pbf:
    parameters:
    - name: fontstack
      in: path
      required: true
      description: Font name, or more comma-separated names.
      example: Roboto Medium,Noto Sans Regular
      schema:
        type: string
    - name: start
      in: path
      required: true
      description: Start of the glyph range.
      example: 0
      schema:
        type: integer
        multipleOf: 256
    - name: end
      in: path
      required: true
      description: End of the glyph range (last glyph index).
      example: 255
      schema:
        type: integer
    get:
      summary: Fonts (glyphs)
      description: Generates the glyphs for the requested fonts. Used when displaying vector maps.
      tags:
      - Other
      responses:
        '200':
          content:
            application/x-protobuf: {}
        '400':
          description: Invalid glyph range
      operationId: getFontsByFontstack{start}{end}Pbf
      x-operation-id-source: derived
  /ogc/conformance:
    get:
      summary: OGC API conformance classes
      description: Declaration of the implemented conformance classes.
      tags:
      - Other
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
      operationId: getOgcConformance
      x-operation-id-source: derived
components:
  securitySchemes:
    key:
      description: Your own API key from https://cloud.maptiler.com/
      type: apiKey
      name: key
      in: query
